<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>一覧画面</title>
    <link rel="stylesheet" href="../../static/css/style.css"
          th:href="@{/css/style.css}">
</head>
<body>
<h1>書籍一覧</h1>
<form action="index.html" th:action="@{findByNameLike}">
    書籍名キーワード: <input type="text" name="keyword">
    <button>書籍名キーワード検索</button>
</form>
<a href="insertMain.html" th:href="@{insertMain}">書籍の新規追加</a>
<table>
    <tr>
        <th>ID</th>
        <th>書籍名</th>
        <th>価格</th>
        <th>カテゴリID</th>
        <th>カテゴリ名</th>
    </tr>
    <tr th:each="book : ${bookList}" th:object="${book}">
        <td th:text="*{id}">101</td>
        <td th:text="*{name}">書籍名テスト</td>
        <td th:text="*{price}">999</td>
        <td th:text="*{categoryId}">1</td>
        <td th:text="*{categoryName}">カテゴリ名テスト</td>
    </tr>
</table>
</body>
</html>